h1 {
  font-family: "LXGW WenKai Mono TC", serif;
  font-weight: 400;
  font-style: normal;
}

h2, p, li, a {
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
}

html{
  background-color: #dbb0c7;
}

body {
  margin: 0 20 20 20;
  background-color: #FFFFFF;
  padding: 0 10px 10px 10px;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
  font-size: 60px;
}

h2 {
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img{
  display: block;
}
